* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #000046, #1cb5e0);
  margin: 0;
}
div {
  padding: 30px 0;
}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: azure;
  padding: 50px 0;
  text-align: center;
}

.d1 {
  width: 100%;
  height: 100%px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #155799;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #9e9c9c;
}

.search {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #155799;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search:hover,
.clear:hover {
  background: #06325f;
}

.search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}

.clear {
  top: 0;
  right: 0px;
  width: 80px;
  height: 42px;
  border: none;
  background: #155799;
  border-radius: 5px;
  font-size: 16px;
  color: #f9f0da;
  cursor: pointer;
}

.result {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#result-poster {
  padding: 15px;
  font-size: 16px;
  color:#155799;
  border: none;
  border-radius: 5px;
  background-color: #d7e2ec;
  cursor: pointer;
}

#result-poster:hover {
  scale: 1.05;
  transition: scale 0.5s linear;
}

